.top-bar {
    border-bottom: 1px solid #ebebeb;
}
.top-bar .container > .row{
    display: flex;
    align-items: center;
}
.top-bar .left{
    line-height: 41px;
}
.top-bar .mid #_desktop_user_info ul{
    display: none;
}
.top-bar .left .addon-box {
    float: left;
}
.top-bar .left .btn-xs.dropdown-toggle::after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 5px;
}
.top-bar .left .addon-box:first-child .btn-xs{
    padding-right: 20px;
    border-right: 1px solid #ebebeb;
    padding-left: 0;
}
.top-bar .left .addon-box a{
    padding: 0 20px;
}
.top-bar .left ul {
    right: 0;
    position: absolute;
    left: auto;
}
.top-bar .left ul li a {
    padding-right: 0 !important;
    padding-left: 39px !important;
    line-height: 41px;
    border-bottom: 1px solid #ebebeb;
}
.top-bar .left .currency-info ul li a{
    padding-left: 20px !important;
}
.top-bar .left .currency-info ul {
    right: -15px;
}
.top-bar .mid{
    display: flex;
    justify-content: center;
}
.top-bar .mid .addon-desc {
    padding-right: 20px;
    border-right: 1px solid #ebebeb;
    font-size: 13px;
}
.top-bar .mid .account {
    padding-left: 20px;
}
.top-bar .right #social_block li a{
    color: #a6a6a6;
    padding-left: 14px;
}
.top-bar .right #social_block li a:hover{
    color: #111;
}
.header .container > .row {
    padding: 40px 0;
    display: flex;
    align-items: center;
}
.header .left #ajax_search {
    border-radius: 0;
    left: 0;
    position: unset;
    letter-spacing: 0.3px;
    border: 0;
    height: 25px;
    padding: 0;
}
.header .left .jms_ajax_search .search-box {
    min-width: 268px;
    padding: 0;
}
.header .left .button-search {
    background: transparent;
    border: 0;
    padding-bottom: 4px;
}
.header .left .button-search img{
    width: 20px;
}
.header .left .searchbox {
    display: flex;
    border-bottom: 1px solid #ebebeb;
}
.header .left #search_result{
    left: 0;
}
.header .mid a {
    display: flex;
    width: 100%;
    justify-content: center;
}
.header .right .addon-box{
    padding-right: 10px;
}
.header .right .text-box {
    display: flex;
    flex-direction: row-reverse;
}
.header .right .ajax_cart_quantity {
    top: -8px;
    right: -10px;
}
.header .right .my-cart{
    padding-right: 10px;
    padding-top: 5px;
}
.header .right .shoppingcart-box{
    top: 35px;
    right: -11px !important;
}
.header .right .icon-handbag{
    font-size: 23px;
}
.menu .nav.level0{
    text-align: center;
    border-top: 1px solid #ebebeb;
}

.menu .jms-megamenu .nav > li > a {
    line-height: 71px;
}
.slides .jms-vermegamenu .nav > li > a {
    padding: 0px 20px;
    font-size: 14px;
    font-family: Arial;
    line-height: 54px;
    background: #f6f6f6;
    letter-spacing: 0.5px;
}
.slides .jms-vermegamenu .nav > li {
    margin: 0;
}
.slides .jms-vermegamenu .nav > li.title > a {
    color: #fff;
    background: #111;
    font-weight: 600;
    font-size: 15px;
}
.slides .jms-vermegamenu .nav > li:last-child {
    border:0;
}
.slides .text-large{
    letter-spacing: 0;
}
.slides .text-small{
    letter-spacing: 1.5px;
    font-size: 24px;
}
.slides .btn-shopnow{
    background-color: #d7d7d7
}
.slides .btn-shopnow:hover{
    background-color: #111;
    color: #fff;
    border:0;
}
.slides .text-large::after {
    width: 340px;
}
.banner{
    margin-top: 100px;
}
.banner .left .feature-box {
    position: relative;
}
.banner .left .include_content_s {
    position: absolute;
    bottom: 45px;
    color: #fff;
    text-align: center;
    width: 100%;
}
.banner .left .include_content_s p {
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding-bottom: 15px;
}
.banner .left .include_content_s h3 {
    font-size: 20px;
    font-weight: 600;
}
.banner .left .include_content_s p.desc{
    font-weight: 400;
    padding-bottom: 46px;
    font-family: Arial;
}
.banner .left .include_content_s .btn-shopnow {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 6px 18px;
}
.banner .left .include_content_s .btn-shopnow:hover{
    background-color: #111;
    border-color: #111;
}
.banner .right .jms-banner{
    position: relative;
}
.banner .right .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.banner .right .text h3{
    font-size: 19px;
}
.banner .right .text p{
    font-family: "Playfair Display";
    font-size: 18px;
}
.banner .right .addon-box:first-child {
    padding-bottom: 30px;
}
.banner .jms-banner, .banner .feature-box{
    overflow: hidden;
    transition: .5s all;
}
.banner .jms-banner:hover img, .banner .feature-box:hover img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.banner .jms-banner:hover img, .banner .feature-box:hover img {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.product-tab{
    margin-top: 96px;
}
.product-tab .nav{
    display: flex;
    justify-content: center;
}
.product-tab .jms-tab ul > li > a h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding:0;
}
.product-tab .jms-tab ul > li > a{
    padding:0;
    color: #acacac;
}
.product-tab .jms-tab ul > li > a.active{
    color: #111;
}
.product-tab .fa.fa-star-o {
    padding: 0 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #acacac;
}
.product-tab .fa.fa-star-o:last-child {
    display: none;
}
.product-tab .product-preview{
    margin-bottom:20px;
}
.product-tab .product-preview:hover{
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.12);
}
.testi .testimonial-comment {
    font-size: 14px;
    line-height: 2;
    font-style: italic;
    padding-bottom: 42px;
    padding-left: 240px;
    padding-right: 240px;
}
.testi .testimonial-author {
    font-size: 16px;
    padding-bottom: 17px;
    padding-top:49px;
}
.testi .testimonial-box {
    background: #f2f2f2;
    position: relative;
}
.testi .testimonial-img {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -37px;
}
.testi .owl-carousel .owl-stage-outer{
    overflow: visible;
}
.testi .owl-carousel .owl-stage-outer .owl-item.active{
    opacity: 1;
}
.testi .owl-carousel .owl-stage-outer .owl-item{
    opacity: 0;
}
.blog {
    padding: 98px 0 0;
}
.blog h3{
    font-size: 20px;
    padding-bottom: 29px;
    text-align: center;
}
.blog .post-info {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.blog .post-info h4 a, .blog .post-info li span{
    color: #fff;
}
.blog .icon-calendar::before {
    content: "\f073";
}
.blog .icon-comments-alt::before {
    content: "\f0e6";
}
.blog h4.post-title > a {
    font-size: 17px;
    font-weight: 600;
}
.blog .post-title {
    padding-bottom: 15px;
}
.blog .post-created{
    padding-right: 30px;
}
#footer{
    background-color: #111;
}
.footer-top .layout-column {
    text-align: center;
    padding-bottom:84px;
}
.footer-top .layout-column:not(:first-child){
    border-left: 1px solid #222;
}
.footer-top .textnews span {
    font-size: 14px;
    font-style: italic;
    line-height: 2;
    letter-spacing: 0.1px;
}
.footer-top .newletter_right_footer .title img,
.footer-top .newletter_right_footer .title h2{
    display: none;
}
.footer-top #social_block{
    display: none;
}
.footer-top h3{
    font-size: 17px;
}
.footer-top .phone {
    font-size: 20px;
    padding-left: 40px;
    position: relative;
    line-height: 46px;
    letter-spacing: 0;
    opacity: 0.8;
}
.footer-top .icon-earphones-alt{
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 8px;
}
.footer-top{
    color: #ebebeb;
    padding-top: 96px;
}
.footer-top .addon-desc{
    line-height: 32px;
    color: #ebebeb;
    letter-spacing: 0.3px;
    opacity: 0.7;
}
.footer-top li span {
    color: #ebebeb;
}
.footer-top li a {
    color: #ebebeb;
}
.footer-top a {
    color: #ebebeb;
}
.footer-top span {
    color: #ebebeb;
}
.footer-top .right .block_content.block_c_right span{
    line-height: 32px;
}
.footer-top li {
    line-height: 32px;
    font-size: 14px;
    letter-spacing: 0.3px;
    opacity: 0.7;
}
.footer-top .info ul li::before{
    content: url(../img/demo/Dot.png);
    padding-right: 10px;
}
.footer-top h5 {
    font-size: 18px;
    letter-spacing: 0px;
    padding-top: 23px;
    padding-bottom: 12px;
    opacity: 0.8;
}
.footer-top #newsletter-input {
    background-color: #242424;
    border-color: #242424;
    font-size: 12px;
    padding-left: 15px;
    opacity: 0.7;
    color: #fff;
    margin-right: 0;
}
.footer-top #newsletter-input::-moz-placeholder{
    color: #ebebeb !important;
}
.footer-top .newsletter-btn.footer {
    background-color: #242424;
    border-left: 1px solid #3a3a3a;
    width: 56px;
}
.footer-top .newsletter-btn.footer:hover {
    background-color: #111;
    border: 2px solid #ebebeb;
}
.footer-top .textnews_h1 span {
    line-height: 25px;
    opacity: 0.7;
}
.footer-top .payment{
    margin-top: 4px;
}
.footer_bottom a {
    color: #fff;
}
.footer-top .post-created {
    width: 60px;
    height: 60px;
    background-color: #1f1f1f;
    border-top: 5px solid #313131;
    text-align: center;
    padding: 6px;
}
.footer-top .post-meta{
    line-height: normal;
}
.footer-top .post-info{
    margin-top: -20px;
}
.footer-top .blog-item{
    padding-bottom: 15px;
}
.footer-top .post-title{
    font-size: 15px;
    letter-spacing: 0.3px;
    opacity: 0.8;
}
.footer-top .recent-blog ul li{
    font-size: 13px;
    line-height: normal;
}
.footer-top .blog-carousel{
    margin-top: 10px;
}
.footer-top .recent-blog p{
    color: #ebebeb;
    opacity: 0.7;
}
.footer-top .recent-blog .date {
    font-size: 18px !important;
    font-weight: 600;
}
.footer-top .recent-blog .month{
    font-size: 14px;
}
.footer-top .right .block_content{
    padding: 0 20px;
}
.footer-top .block_c_right .newsletter-input {
    border: 2px solid #ebebeb;
    border-radius: 0 !important;
    color: #111;
    font-size: 13px;
    height: 41px;
    padding-left: 17px;
    width: 100%;
}
.footer-top .textnews_h1{
    display: block;
}
.footer-top .left .contact-info{
    padding: 0 65px;
}
footer .addon-title h3 {
    padding-bottom: 27px;
}
.footer-top .block_c_right .form-group {
    display: flex;
    margin-bottom: 10px;
    margin-top: 22px;
}
.block_c_right .newsletter-input:hover, .block_c_right .newsletter-input:active, .block_c_right .newsletter-input:focus {
    border-color: #f3f4f6 !important;
}
.footer-bottom a{
    color: #fff;
}
.footer-bottom {
    text-align: center;
    line-height: 69px;
    background: #000;
}
.footer-bottom .left{
    float: left;
}
.footer-bottom .right{
    float: right;
}
.footer-bottom .right img {
    padding-left: 15px;
}
.footer-bottom .content{
    border-top: 1px solid #222;
}
