.text_menu, .megamenu_h2 .pe {
    display: none;
}
.owl-theme .owl-controls div.owl-prev, .owl-theme .owl-controls div.owl-next {
	top: 50%;
}
.btn-group.open > .dropdown-menu {
    
}
.module-group-box.open .dropdown-menu {
	min-width:172px;
}
.topheader.navbar-fixed-top .btn-group.open > .dropdown-menu{
	margin-top:29px;
}
.topheader {
    padding-left: 55px;
    padding-right: 55px;
	transition:all 0.5s ease 0s;
	position:relative;
}
.logo > span {
    line-height: 49px;
}
.megamenu_h2 {
    text-align: center;
}
.module_group_h2 .addon-box {
    float: right;
	padding:0 20px;
}
.topheader .pe {
    font-size: 27px;
}
#cart_block .ajax_cart_quantity{  
    left: 13px;
    top: -9px;
}
.topheader.navbar-fixed-top #ajax_search{
	top:-68px;
}
.logo_h2 {
    padding-top: 34px;
	padding-bottom:34px;
}
.navbar-fixed-top {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
    z-index: 1000;
	transition:all 0.5s ease 0s; border-width: 0 0 1px;
    top: 0;
	position:fixed;
}
.navbar-fixed-top #search_result .result_div{
	margin-top:-7PX;
}
.megamenu_h2 {
    padding: 16px 0;
    text-align: center;
	position:static;
}
.module_group_h2 {
    padding: 45px 0;
	position:static;
}
.btn-group.module-group-box.open li span, .btn-group.module-group-box.open li a {
    color: #444444;
    font-size: 13px;
}
.topheader.navbar-fixed-top .megamenu_h2 {
 padding:0px 0;
}
.topheader.navbar-fixed-top  .logo_h2 {
    padding-top:20px;
	padding-bottom:20px;
}
.topheader.navbar-fixed-top .module_group_h2 {
    padding: 28px 0;
}
.topheader.navbar-fixed-top #cart_block .shoppingcart-box {
    top: 32px;
}
.btn-group.open .dropdown-menu::before{
	left:auto;
	right:15px;
}
#cart_block .shoppingcart-box {
    margin-top: 28px;
    right: -11px;
}
.featured_product .custom_carousel {
    padding-top: 31px;
}
.featured_product h3 {
    padding-bottom: 0;
	line-height: 32px;
}
.wrapper-banner .box-content > span {
    color: #7c7c7c;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.banner_home .wrapper-banner h4 {
    font-weight:600;
    font-size: 16px;
    line-height: 35px;
}
.service_content_h2.center {
    padding: 0 90px;
    width: 41%;
}
.service_content_h2.next {
    width: 29.5%;
}
.feature-box h2 {
    padding-bottom: 0;
}
.wrapper-banner .box-content {
    padding-bottom: 16px;
    padding-left: 37px;
    vertical-align: bottom;
}
#index .blog-item {
    position: relative;
}
.post-meta li {
    padding: 0 13px;
}
.footer_h2 .logo > span {
    font-size: 35px;
}
#index footer {
    background: #f3f4f6 none repeat scroll 0 0;
}
.find-us {
    float: right;
}
.html_footer {
    text-align: center;
}
.html_footer ul li {
    display: inline-block;
    padding: 0 28px;
}
.list_footer_bottom {
    text-align: center;
}
.textnews_h1.addon-title {
    display: none;
}
.footer_bottom {
    border-top: 1px solid #e1e1e1;
    padding: 22px 0;
}
.newletter_center {
    margin-top: 9px;
    text-align: center;
}
.newsletter-btn.buttonh1 {
    display: none;
}
.textnews_h3, .textnews_h4 {
    display: none;
}
#social_block .find-us li:hover span {
    color: #000;
}
@media (max-width: 1300px){
	.logo_h2{
		width:19% !important;
	}
	.megamenu_h2{
		width:60% !important;
	}
	.module_group_h2{
		width:21% !important;
	}
}
@media (max-width: 1199px){
	.topheader {
		padding-left: 15px;
		padding-right: 15px;
	}
	.btn-group.open > .dropdown-menu {
		left: auto;
		right:0;
		transform: none;
	}
	.btn-group.open > .dropdown-menu.shoppingcart-box::before {
		right: 25px;
	}
	.btn-group.module-group-box.open > .dropdown-menu::before {
		left: 141px;
	}
	.service_content_h2.center, .service_content_h2.next {
		padding: 0 15px;
		width: 33.3333%;
	}
}
@media (max-width: 991px){
	.megamenu_h2 {
		left: 15px;
		position: absolute;
		top: 21px;
		width: 44px;
	}
	.megamenu_h2 {
		width: 46px !important;
	}
	.module_group_h2 {
		padding: 45px 0;
		position: absolute;
		right: 0;
	}
	.logo_h2{
		text-align:center;
		width:100% !important;
	}
	.module_group_h2 {
		width: 37% !important;
	}
	.block_content.block_c_right .form-group {
		min-width: 339px;
	}
	#social_block .find-us li span{
		padding-left:15px;
	}
	.html_footer ul li {
		padding: 0 14px;
	}
    .module_group_h2 .addon-box:nth-child(1) {
		display: none;
	}
}
@media (max-width: 767px){
	.banner_home .layout-column {
		margin-bottom: 30px;
	}
	.banner_home .layout-column:last-child{
		margin-bottom: 0px;
	}
	.service_content_h2.center, .service_content_h2.next {
		width: 100%;
		margin-bottom:30px;
	}
	.logo_footer{
		padding-bottom:10px;
	}
	.footer_h2 .layout-column {
		text-align: center;
	}
	.find-us {
		float: none;
	}
	.block_content.block_c_right .form-group {
		min-width: 466px;
	}
}
@media (max-width: 481px){
	 .logo_h2 , .topheader.navbar-fixed-top .logo_h2{
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.module_group_h2 , .topheader.navbar-fixed-top .module_group_h2{
		top: 98px;
		width: 62% !important;
		padding:0;
	}
	.megamenu_h2 {
		top: 75px;
	}
	.topheader.navbar-fixed-top .megamenu_h2{
		top: 91px;
	}
	.topheader {
		padding-bottom: 67px;
	}
	.block_content.block_c_right .form-group {
		min-width: 300px;
	}
	.topheader {
		padding-left: 0;
		padding-right: 0;
	}
}
.top-bar .container{
	border-bottom: 1px solid #ebebeb;
}
.top-bar .left ul {
	display: flex;
	padding: 10px 0;
}
.top-bar .left li:first-child {
	padding-right: 30px;
	border-right: 1px solid #ebebeb;
}
.top-bar .left li:nth-child(2) {
	padding-left: 30px;
}
.top-bar .left li {
	line-height: 20px;
}
.top-bar .addon-box:not(:nth-child(3)) .btn-xs.dropdown-toggle::after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 5px;
}
.top-bar .right .addon-box:not(:nth-child(3)) {
	float: right;
	padding-left: 30px;
	border-left: 1px solid #ebebeb;
}
.top-bar .right .addon-box {
	float: right;
	line-height: 20px;
}
.top-bar .right{
	padding-top: 10px;
	padding-bottom: 10px;
}
.top-bar .right .addon-box:not(:first-child) {
	padding-right: 30px;
}
.top-bar .right .open > .dropdown-menu {
	top: 30px;
	left: -29px;
	right: auto;
	opacity: 1;
	visibility: visible;
	display: block;
}
/*dropdown-fix*/
.top-bar .right .dropdown-menu {
	top: 50px;
	left: -29px;
	right: auto;
	opacity: 0;
	display: block;
	visibility: hidden;
}
.top-bar .right .addon-box:nth-child(3) li{
	text-align: center;
	padding: 9.5px 0;
}
.top-bar .right li {
	line-height: 45px;
	border-bottom: 1px solid #ebebeb;
	display: block;
	padding: 9.5px 0 9.5px 30px;
}
.top-bar .right .open li {
	padding: 9.5px 0 9.5px 30px;
}
/*******/
.top-bar .right .btn-group > ul{
	padding: 0;
}

.top-bar .right li a{
	padding: 0;
	font-size: 13px;
}
.top-bar #_desktop_user_info ul {
	display: none;
}
.header-top .container > .row{
	display: flex;
	align-items: center;
}
.header-top .jms-megamenu .open .mega.open .dropdown-menu {
	top: 0px !important;
}
.header-top .jms-megamenu .nav > li > a{
	line-height: 133px;
}
.header-top .top_group .my-cart {
	display: none;
}
.header-top .top_group .addon-box {
	padding: 0px 13px;
}
.header-top #search_result {
	left: 30px;
	top: 55px;
}
.header-top #ajax_search {
	top: 9px;
	left: 107px;
	width: 80%;
	border-radius: 0;
}
.welcome{
	text-align: center;
	margin-top: 96px;
	margin-bottom: 90px;
}
.welcome .addon-desc {
	line-height: 2;
	padding: 0 195px;
	color: rgba(17,17,17,0.75);
	letter-spacing: 0.3px;
}
.welcome h3{
	padding-bottom: 39px;
	font-size: 20px;
	letter-spacing: -0.3px;
	position: relative;
}
.welcome h3::after {
	content: "";
	width: 35px;
	height: 2px;
	display: block;
	position: absolute;
	background: #000;
	left: 50%;
	transform: translateX(-50%);
	bottom: 21px;
}
.service{
    margin-bottom: 100px;
}
.service .feature-box {
    border: 1px solid #ebebeb;
    padding: 35px 15px 26px;
    background-color: #ebebeb;
}
.service .feature-box h4{
    letter-spacing: 0.5px;
    font-size: 20px;
}
.service .feature-box i{
	font-size: 30px;
}
.service .feature-box h4{
	margin-top: 15px;
    padding-bottom: 12px;
    letter-spacing: -0.3px;
}
.newsletter #newsletter-input::-moz-placeholder{
    color: rgba(17,17,17,0.5) !important;
}
.newsletter #newsletter-input::-webkit-input-placeholder{
    color: rgba(17,17,17,0.5) !important;
}
.newsletter .addon-box{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #111;
	padding: 51.5px;
}
.newsletter .textnews h2 {
	font-size: 22px;
	font-family: Playfair Display;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	line-height: 2;
}
.newsletter .textnews span {
	font-size: 15px;
	color: rgba(255,255,255,0.75);
	letter-spacing: 0.57px;
	line-height: 2;
}
.newsletter .textnews{
	margin-right: 94px;
}
.newsletter .block_content.block_c_right .form-group {
    border:0;
    display: inline-flex;
    min-width: 500px;
    margin-bottom: 0;
}
.newsletter .block_content.block_c_right .newsletter-input {
	height: 45px;
	font-size: 12px;
	padding-left: 20px;
}
.newsletter .block_content.block_c_right .newsletter-input:hover,
.newsletter .block_content.block_c_right .newsletter-input:focus{
	border-color: #fff;
}
.newsletter .newsletter-btn {
    background: #fff;
    font-weight: 600;
    line-height: 16px;
	text-transform:uppercase;
	padding: 0 14px;
}
.newsletter .newsletter-btn:hover {
	border: 1px solid #fff;
	background: #000;
	color: #fff;
}
.newsletter #newsletter_block_left{
	z-index: 9;
}
.newsletter{
	margin-bottom: 97px;
	margin-top: 98px;
}
.newsletter .addon-box::before {
	content: "";
	width: 96%;
	height: 90%;
	position: absolute;
	border: 1px dashed #646464;
}
.feature-product .product-miniature:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.feature-product h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: -0.3px;
}
.blog {
	background-color: #f5f5f5;
	padding: 98px 0 100px;
}
.blog .addon-title{
	text-align: center;
}
.blog .blog-carousel{
	padding-top: 31px;
}
.blog h3{
	font-size: 20px;
	padding-bottom: 10px;
	text-align: center;
}
.blog .post-info {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.blog .post-info h4 a, .blog .post-info li span{
	color: #fff;
}
.blog .icon-calendar::before {
	content: "\f073";
}
.blog .icon-comments-alt::before {
	content: "\f0e6";
}
.blog h4.post-title > a {
	font-size: 17px;
	font-weight: 600;
}
.blog .post-title {
	padding-bottom: 15px;
}
.footer-top{
	background: #111;
	padding: 67px 0;
}
.footer-top ul{
	text-align: center;
}
.footer-top ul li{
	display: inline-block;
	padding: 0 24px;
	font-size: 12px;
	letter-spacing: 0.3px;
}
.footer-top ul li a {
	color: rgba(235,235,235,0.5);
}
.footer-top ul li a:hover {
	color: #fff;
}
.footer-top ul li:not(:last-child){
	border-right: 1px solid #292929;
}
.footer-bottom .row{
	display: flex;
	align-items: center;
}
.footer-bottom {
	background: #111;
	border-top: 1px solid #242424;
}
.footer-bottom .list_footer_bottom a{
	color: #fff;
}
.footer-bottom .right p{
	float: right;
}
.footer-bottom .left ul{
	float: left;
}
.footer-bottom #social_block .find-us li span {
	color: rgba(255,255,255,0.15);
	font-size: 16px;
	line-height: 75px;
	padding-right: 22px;
}
.footer-bottom .right img {
	padding-left: 20px;
}
.footer-bottom #social_block ul li:hover span {
	color: #fff;
}
.footer-bottom .mid p{
	line-height: 2;
	color: rgba(255,255,255,0.5)
}
/*grid*/
.item1 { grid-area: jacket; }
.item2 { grid-area: watch; }
.item3 { grid-area: women; }
.item4 { grid-area: men; }
.item5 { grid-area: bag; }

.grid-container {
  display: grid;
  grid-template-areas:
    'jacket jacket watch watch women'
    'men bag bag bag women';
  grid-gap: 15px;
}
.grid-container > div {
  text-align: center;
  font-size: 30px;
}
/**/
.collection .viewall{
	text-align: center;
	padding-bottom: 31px;
}
.collection h4 {
	font-size: 16px;
	position: absolute;
}
.collection .item {
	position: relative;
}
.collection .item1 h4{
	top: 57px;
	width: 100%;
}
.collection .item2 h4{
	top: 57px;
	left: 59px;
}
.collection .item3 h4{
	bottom: 55px;
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	color: #a8a8a8;
}
.collection .item4 h4{
	bottom: 50px;
	left: 29px;
}
.collection .item5 h4{
	left: 49px;
	display: flex;
	top: 52%;
	transform: translateY(-50%);
	font-size: 22px;
	font-weight: 600;
	width: 120px;
	text-align: left;
	line-height: 1.7;
}
.collection .item{
	overflow: hidden;
	transition: .5s all;
}
.collection .item img{
	width: 100%;
	display: block;
	height: 100%;
}
.collection .item:hover img {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	-ms-transform: scale3d(1.1, 1.1, 1);
	-o-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}
.collection .item:hover img {
	cursor: pointer;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.collection h3 {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 96px;
	border-top: 1px solid #ebebeb;
	letter-spacing: -0.3px;
}
.jms_ajax_search .search-box{
	top: 34px;
	opacity: 0;
	visibility: hidden;
	display: block;
	padding:0;
}
.jms_ajax_search.open .search-box{
	top: 24px;
	opacity: 1;
	visibility: visible;
}
@media (max-width: 1199px){
	.header-top .top_group #cart_block .shoppingcart-box{
		top: 6px;
	}
	.header-top .menu .jms-megamenu .nav > li{
		padding: 0 13px;
	}
	.welcome .addon-desc {
		padding: 0 15px;
	}
	.footer-top ul li{
		margin-bottom: 20px;
	}
}
@media (max-width: 991px){
	.footer-bottom .right{
		margin:30px 0;
	}
	.footer-bottom .right p {
		float: none; 
		text-align: center;
	}
	.footer-bottom .left ul{
		float: none;
		text-align: center;
	}
	.footer-bottom .row{
		display: block;
	}
	.header-top .logo{
		order: 2;
		display: flex;
		justify-content: center;
	}
	.header-top .menu{
		order: 1;
	}
	.header-top .top_group{
		order: 3;
	}
	.header-top{
		padding: 40px 0;
	}
	.newsletter .addon-box{
		display: grid;
		position: relative;
	}
	.newsletter .addon-box::before {
		content: "";
		width: 97%;
		height: 90%;
		position: absolute;
		display: block;
		left: 50%;
		transform: translateX(-50%);
	}
	.newsletter .textnews {
		margin-right: 0px; 
		text-align: center;
		margin-bottom: 20px;
	}
}
@media (max-width: 767px){
	.header-top #cart_block .shoppingcart-box{
		right: -11px;
	}
	.newsletter .block_content.block_c_right .form-group {
		border: 0;
		display: inline-flex;
		min-width: 400px;
		margin-bottom: 0;
	}
}
@media (max-width: 536px){
	.top-bar .left{
		display: none;
	}
	.top-bar .right{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.top-bar .right .addon-box{
		padding: 0 25px;
		border-right: 1px solid #ebebeb;
		border-left: 0 !important;
	}
	.top-bar .right .addon-box:nth-child(3){
		border-right: 0;
	}
}
@media (max-width: 481px){
	.newsletter .addon-box::before {
		width: 95%;
	}
	.modal-content .product-quantity .add-to-cart{
       margin-left:14px;
    }
	.collection h3 {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.newsletter {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.feature-product h3{
		padding-bottom: 0;
	}
	.blog {
		padding: 30px 0 30px;
	}
	.blog h3{
		padding-bottom: 0;
	}
	.footer-top{
		padding: 30px 0;
	}
	.welcome {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.header-top .top_group .jms_ajax_search #ajax_search{
		top: 19px;
		right: -31px;
		left: auto;
	}
	.header-top .top_group .jms_ajax_search.open #ajax_search{
		top: 9px;
		right: -31px;
		left: auto;
	}
	.grid-container{
		display: block;
	}
	.grid-container .item{
		margin-bottom: 20px;
	}
	.newsletter .block_content.block_c_right .form-group{
		min-width: 250px;
		width: 100%;
	}
}
@media (max-width: 414px){
	.footer-top ul li{
		display: block;
		border-right: 0 !important;
		padding-bottom: 15px;
	}
	.header-top .top_group .addon-box:last-child {
		padding: 0px 5px;
	}
}
@media (min-width: 1800px){
	.newsletter .block_content.block_c_right .form-group {
		min-width: 540px;
	}
}
.header-top .menu{
	text-align: center;
}
.header-top .menu .jms-megamenu .nav > li {
	padding: 0 25.4px;
}
