#cart_block .ajax_cart_quantity {
	left: 27px !important;
	top: -9px;
}
.menu .item-fullwidth .mega-nav li > a  {
  padding: 3.5px 25px 3.5px 0 !important;
}
.top-bar .right .languages-info .dropdown-menu {
	right: -30px;
}
.top-bar .left ul li:first-child {
	border-left: 1px solid #ebebeb;
	padding-left: 30px;
	border-right: 0;
	padding-right: 0;
}
.top-bar .left ul li:nth-child(2) {
	padding-right: 27px;
	padding-left: 0;
}
.top-bar .right .addon-box {
	float: left;
}
.top-bar #_desktop_currency_selector {
	padding-right: 30px;
	border-right: 1px solid #ebebeb;
	padding-left: 0;
	border-left: 0;
}
.top-bar .btn-group.compact-hidden.languages-info {
	padding-left: 30px;
	padding-right: 0;
}
.top_group .addon-box {
	float: left;
}
.top_group .addon-box:first-child {
	margin-left: -20px;
	border-right: 1px solid #ebebeb;
	margin-right: 0;
	border-left: 0;
}
.menu .right li.icons {
	margin-left: 20px;
	margin-right: 0;
}
.banner .countdown-box p::before {
	margin-right: -20px;
}
.footer-top .newsletter-btn.footer {
	border-right: 1px solid #3a3a3a;
	border-left: 0;
}
.footer-top .info ul li::before {
	padding-left: 10px;
	padding-right: 0;
}
.footer-top .phone {
	padding-right: 40px;
}
.footer-top .icon-earphones-alt {
	right: 0;
}
