.header-top .left .addon-box {
    float: right;
}
.header-top .left .addon-box .btn-xs {
    border-right: 1px solid #ebebeb;
    border-left: 0;
}
.header-top .left .icon {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.header-top .left .addon-box .btn-xs {
    border-left: 1px solid #ebebeb;
    border-right: 0;
}
.header-top .left .addon-box:first-child .btn-xs{
    padding-left: 30px !important;
}
.header-top .left .addon-box:last-child .btn-xs{
    border-left: 0;
}
.header-top .right .addon-box {
    float: left;
}
.header-top .right .my-cart {
    padding-left: 15px;
    padding-right: 0;
}
.header-top .right #cart_block .ajax_cart_quantity {
    right: 111px;
}
.header-top #social_block ul li {
    padding-right: 15px;
    padding-left: 0;
}
.header-top #search_result {
    left: 0;
}
.header-top .right .cart-icon {
    padding-right: 30px;
    border-right: 1px solid #ebebeb;
    padding-left: 0;
    border-left: 0;
}
.header-top #cart_block {
    padding-right: 30px;
}
.menu .item-fullwidth .mega-nav li > a  {
  padding: 3.5px 25px 3.5px 0 !important;
}
.product-tab .product-preview .product-info .product_button {
    margin-right: -5px;
}
.product-tab .product-miniature .product-info {
    text-align: right;
    padding-right: 24px;
    padding-left: 0;
}
.footer-top .newsletter-btn.footer {
    border-right: 1px solid #3a3a3a;
    border-left: 0;
}
.footer-top .info ul li::before {
    padding-left: 10px;
    padding-right: 0;
}
.footer-top .phone {
    padding-right: 40px;
}
.footer-top .icon-earphones-alt {
    right: 0;
}
.header-top .left #ajax_search {
    right: 0;
}