.top-bar .left .addon-box {
	float: right;
}
.top-bar .left .addon-box:first-child .btn-xs {
	padding-left: 20px;
	border-left: 1px solid #ebebeb;
	padding-right: 0;
	border-right: 0;
}
.top-bar .left .currency-info ul {
	right: 21px;
}
.top-bar .mid .addon-desc {
	padding-left: 20px;
	border-left: 1px solid #ebebeb;
	padding-right: 0;
	border-right: 0;
}
.top-bar .mid .account {
	padding-right: 20px;
	padding-left: 0;
}
.top-bar .right .addon-box {
	float: left;
}
.top-bar .right #social_block li a {
	padding-right: 14px;
	padding-left: 0;
}
.menu .item-fullwidth .mega-nav li > a  {
  padding: 3.5px 25px 3.5px 0 !important;
}
.header .right .my-cart {
	padding-left: 10px;
	padding-right: 0;
}
.header  #cart_block .ajax_cart_quantity {
	left: 16px;
}
.footer-top .newsletter-btn.footer {
	border-right: 1px solid #3a3a3a;
	border-left: 0;
}
.footer-bottom .right p {
	text-align: left;
}
.footer-bottom .right img {
	padding-right: 15px;
	padding-left: 0;
}
.footer-top .layout-column:not(:first-child) {
	border-right: 1px solid #222;
	border-left: 0;
}
.footer-bottom .left p {
	text-align: right;
}