.top-bar .left li {
	float: right;
}
.top-bar .left li:first-child {
	border-left: 1px solid #272727;
	border-right: 0;
}
.top-bar .left .addon-box {
	margin-right: -30px;
	margin-left: 0;
}
.top-bar .right .addon-box {
	float: left;
}
.top-bar .right .addon-box:not(:first-child) {
	border-left: 1px solid #272727;
	border-right: 0;
}
.top-bar .right .addon-box:first-child {
	margin-left: -30px;
	margin-right: 0;
}
.header .group .icon-handbag.icons {
	margin-right: 10px;
	margin-left: 0;
}
.header #cart_block .ajax_cart_quantity {
	left: 25px;
	right: auto;
}
.header .group #ajax_search {
	right: -280px;
	top: 11px;
}
.header .item-fullwidth .mega-nav li > a  {
  padding: 3.5px 25px 3.5px 0 !important;
}
.jms-megamenu .menu-align-center.item-fullwidth > .dropdown-menu {
	left: -400px !important;
	right: auto !important;
}
.newsletter .left .icons {
	margin-left: 15px;
	margin-right: 0;
}
.newsletter .right .newsletter-btn {
	border-right: 1px solid #d5d5d5;
	border-left: 0;
}
.footer-top .social #social_block ul li .fa {
	margin-left: 10px;
	margin-right: 0;
}
.footer-top .info ul li::before {
	padding-left: 10px;
	padding-right: 0;
}
.footer-top .phone {
	padding-right: 40px;
	padding-left: 0;
}
.footer-top .icon-earphones-alt {
	right: 0;
	left: auto;
}
.footer-top .post-info {
	padding-right: 15px;
	padding-left: 0;
}
.header .group #search_result {
	left: 281px;
}