.top-bar .left li:first-child {
  padding-left: 30px;
  border-left: 1px solid #ebebeb;
  padding-right: 0;
  border-right: 0;
}
.top-bar .left li:nth-child(2) {
	padding-right: 30px;
	padding-left: 0;
}
.top-bar .right .addon-box:not(:nth-child(3)) {
	float: left;
	padding-right: 30px;
	border-right: 1px solid #ebebeb;
	padding-left: 0;
	border-left: 0;
}
.top-bar .right .addon-box:not(:first-child) {
	padding-left: 30px;
}
.top-bar .right .addon-box {
	float: left;
}
.top_group .addon-box {
	float: left;
}
.header-top .item-fullwidth .mega-nav li > a  {
  padding: 3.5px 25px 3.5px 0 !important;
}
.header-top #search_result {
	left: 303px;
}
.header-top #cart_block {
	margin-left: 14px;
	margin-right: 0;
}
.header-top .top_group .addon-box:first-child {
	padding-left: 0;
}
.header-top .top_group #cart_block .ajax_cart_quantity {
	left: 12px;
}
.header-top .top_group #ajax_search {
	right: -228px;
}
.newsletter .textnews {
	margin-left: 94px;
	margin-right: 0;
}
.footer-bottom .left ul {
	float: right;
}
.footer-bottom #social_block .find-us li span {
	padding-left: 22px;
	padding-right: 0;
}
.footer-bottom .right img {
	padding-right: 20px;
	padding-left: 0;
}
.footer-top ul li:not(:last-child) {
	border-left: 1px solid #292929;
	border-right: 0;
}
