.top-bar .left .addon-box:not(:first-child) {
	border-right: 1px solid #272727;
	border-left: 0;
}
.top-bar .left .addon-box:first-child {
	padding-right: 0;
	padding-left: 30px;
}
.top-bar .right .addon-box {
	float: left;
}
.top-bar .right #social_block ul li {
	padding-right: 19px;
	padding-left: 0;
}
.menu .addon-box:last-child {
	text-align: left;
}
.menu .addon-box:first-child li {
	padding-right: 35px;
	padding-left: 0;
}
.menu .nav.level0 {
	margin-left: -26px;
	margin-right: 0;
}
.header #cart_block .ajax_cart_quantity {
	left: 31px;
}
.header .shopping-cart .addon-box {
	float: left;
}
.newsletter .textnews {
	margin-left: 94px;
	margin-right: 0;
}
.footer-top .info ul li::before, .footer-top .account ul li::before {
	padding-left: 10px;
	padding-right: 0;
}
.footer-top .phone {
	padding-right: 40px;
	padding-left: 0;
}
.footer-top .icon-earphones-alt {
	right: 0;
}
.footer-bottom .right p {
	text-align: left;
}
.footer-bottom .right img {
	padding-right: 16px;
	padding-left: 0;
}
.top-bar .left #ajax_search {
	right: 0;
}
.menu .jms-megamenu .menu-align-center > .dropdown-menu {
	left: -388px !important;
	right: auto !important;
}
.menu .item-fullwidth .mega-nav li > a  {
  padding: 3.5px 25px 3.5px 0 !important;
}
.top-bar .left #search_result {
	left: 0;
}